<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
    <system.webServer>
    <rewrite>
    <rules>
    <clear />
    <rule name="TempRewriteToWeb" stopProcessing="false">
    <match url="^(web/)?(.*)$" />
    <action type="Rewrite" url="web/{R:2}" logRewrittenUrl="true" />
    </rule>
    <rule name="StaticFiles" stopProcessing="true">
    <match url="^(.*)$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
    <add input="{REQUEST_FILENAME}" matchType="IsFile"/>
    </conditions>
    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
    </rule>
    <rule name="RewriteRequestsToPublic" stopProcessing="true">
    <match url="^(web/)(.*)$" />
    <action type="Rewrite" url="web/app_dev.php?{R:2}" logRewrittenUrl="true"/>
    </rule>
    </rules>
    </rewrite>
    </system.webServer>
    </configuration>