<!DOCTYPE html>
<html>
<head>
    <title>Bettinger</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    <link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    <link href="assets/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            var items = location.search.substr(1).split("&");
            for (var index = 0; index < items.length; index++) {
                tmp = items[index].split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            }
            return result;
        }
        document.locale = findGetParameter('locale');
        if (!document.locale) {
            document.locale = 'en'
        }

        System.config({
            map: {
                text: 'systemjs-text-plugin.js'
            }
        });
        System.import('src/main.js').catch(function(err){ console.error(err); });
    </script>
</head>

    <body>
        <my-app><p style="maring: 0 auto; width: 100%; text-align: center">Bettinger is being loaded<br /><img src="img/ellipsis.gif" style="height: 1.5em;" /></p></my-app>
    </body>
</html>
