/*#region nav*/
.nav-wrapper {
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 45px;
    padding: 0; margin: 0;
    z-index: 9;
}
.nav-spacer {
    height: 75px;
    display: block;
    width: 100%;
}
nav {
    display: block;
    height: 45px;
    padding: 15px;
    background-color: #581845;
    color: #FFC300;
    font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
nav.muted {
    color: #FF5733;
}
#nav-brand {
    font-size: 40px;
    font-weight: 700;
    left: 0;
    float: left;
}
#nav-brand:after {
    content: '';
    display: block;
    clear: both;
}
#nav-language {
    font-size: 40px;
    font-weight: 700;
    left: 0;
    float: left;
    margin-left: 20px;
}
#nav-language a {
    color: #FFC300;
}
#nav-icon {
    margin: 0;
    float: right;
    right: 0;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #FFC300;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 18px;
}
#nav-icon span:nth-child(4) {
    top: 36px;
}
#nav-icon.open span {
    background: #FF5733;
}
#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}
/*#endregion nav*/
/*#region #btgr-menu*/
#btgr-menu {
    width: 100%;
    height: 100%;
    background-color: #581845;
    position: fixed;
    text-align: center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    color: #FF5733;
    z-index: 9;
}
#btgr-menu header {
    font-size: 30px;
    font-weight: 700;
    color: #c70039;
}
#btgr-menu ul {
    list-style: none;
    padding: 0;
    position: relative;
    top: 35%;
    transform: perspective(1px) translateY(-50%);
}
#btgr-menu li, #btgr-menu li a {
    font-size: 40px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #FFCC00;
}
#btgr-menu li a:hover {
    border: dashed 3px;
    padding: 5px 15px;
}
#btgr-menu li.spacer {
    height: 40px;
}
#btgr-menu li.info {
    font-size: 30px;
    color: #FF5733;
}
/*#endregion #btgr-menu*/
@media (max-width: 768px){
    .nav-spacer { height: 65px; }
    nav { height: 35px; }
    #nav-brand { font-size: 30px; }
    #nav-icon { height: 35px; width: 45px;}
    #nav-icon span { height: 7px; border-radius: 7px; }
    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) { top: 14px !important; }
    #nav-icon span:nth-child(4) { top: 28px !important; }
    #nav-icon.open span:nth-child(1) { top: 14px !important; }
    #btgr-menu li, #btgr-menu li a { font-size: 30px; }
}