<div class="nav-wrapper">
    <nav [ngClass]="{'muted': menuShowed}">
        <div id="nav-brand" routerLink="/" (click)="menuLinkClicked()">Bettinger</div>
        <div id="nav-language" [ngSwitch]="locale" [hidden]="!menuShowed">
            <a *ngSwitchCase="'en'" i18n href="?locale=pl">Polski</a>
            <a *ngSwitchCase="'pl'" href="?locale=en">English</a>
            <a *ngSwitchDefault i18n href="?locale=pl">Fail locale: {{locale}}</a>
        </div>
        <div id="nav-icon" (click)="toggleMenu();" [ngClass]="{'open': menuShowed}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div id="btgr-menu" [hidden]="!menuShowed">
        <ul>
            <li class="info" i18n>Menu</li>
            <li><a routerLink="/" routerLinkActive="active" (click)="menuLinkClicked()" i18n>Homepage</a></li>
            <li><a routerLink="/" routerLinkActive="active" (click)="menuLinkClicked()" i18n>Tipsters</a></li>
            <li><a routerLink="/games" routerLinkActive="active" (click)="menuLinkClicked()" i18n>Upcomming matches</a></li>
            <li class="spacer"></li>
            <li><a routerLink="/home" routerLinkActive="active" (click)="menuLinkClicked()" i18n>My profile</a></li>
        </ul>
    </div>
</div>

<div class="nav-spacer"></div>
<router-outlet></router-outlet>