<md-card>
    <div class="two-parts">
        <div class="left">
            <tipsterbox [tipster]="bet.user"></tipsterbox>
        </div>
        <div class="right">
            <p i18n>Tip:</p>
            <div [ngSwitch]="bet.result" class="result-container">
                <div *ngSwitchCase="0" class="no-team" i18n>Draw</div>
                <div *ngSwitchCase="1" class="team">
                    <img class="img-circle"
                         src="{{bet.game.teamOne.logo}}">
                    <p>{{bet.game.teamOne.name}}</p>
                </div>
                <div *ngSwitchCase="2" class="team">
                    <img class="img-circle"
                         src="{{bet.game.teamTwo.logo}}">
                    <p>{{bet.game.teamTwo.name}}</p>
                </div>
                <div *ngSwitchDefault i18n></div>
            </div>
        </div>
    </div>
</md-card>