<md-card>
    <header>{{game.date}}</header>
    <div class="flex-container">
        <div class="flex-team">
            <img class="img-circle"
                 src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_(crest).svg/720px-FC_Barcelona_(crest).svg.png">
            <p>{{game.teamOne.name}}</p>
        </div>
        <div class="flex-vs">vs</div>
        <div class="flex-team">
            <img class="img-circle" src="https://kiwicdn.akamaized.net/90ed/JtzB4vEpsbVrGFjSCsvGKj.jpg">
            <p>{{game.teamTwo.name}}</p>
        </div>
    </div>
    <div class="buttons" *ngIf="!disableButtons">
        <a md-raised-button [routerLink]="['/match', game.id]" i18n>Show tips</a>
    </div>
</md-card>