<md-card>
    <header>{{game.date}}</header>
    <div class="flex-container">
        <div class="flex-team">
            <img class="img-circle"
                 src="{{game.teamOne.logo}}">
            <p>{{game.teamOne.name}}</p>
        </div>
        <div class="flex-vs">vs</div>
        <div class="flex-team">
            <img class="img-circle" src="{{game.teamTwo.logo}}">
            <p>{{game.teamTwo.name}}</p>
        </div>
    </div>
    <div class="buttons" *ngIf="!disableButtons">
        <a md-raised-button [routerLink]="['/match', game.id]" i18n>Show tips</a>
    </div>
</md-card>