<section>
    <md-card>
        <md-tab-group>
            <md-tab i18n-label label="Login">
                <div class="tab-container">
                    <loader *ngIf="isLoading"></loader>
                    <md-card-title i18n>Login</md-card-title>
                    <md-input-container>
                        <input [(ngModel)]="user.login" mdInput i18n-placeholder placeholder="Username">
                    </md-input-container>
                    <br />
                    <md-input-container>
                        <input [(ngModel)]="user.password" mdInput type="password" i18n-placeholder placeholder="Password">
                    </md-input-container>
                    <br />
                    <button md-raised-button (click)="login()" style="margin: 5px" i18n>Logg in</button>
                    <span *ngIf="httpLoginStatusMessage" [ngClass]="{'error': httpLoginStatusError}"
                          [innerHTML]="httpLoginStatusMessage" class="http-status"></span>
                </div>
            </md-tab>

            <md-tab i18n-label label="Registration">
                <div class="tab-container">
                    <loader *ngIf="isLoading"></loader>
                    <md-card-title i18n>Registration</md-card-title>
                    <md-input-container>
                        <input [(ngModel)]="newUser.login" mdInput i18n-placeholder placeholder="User name">
                    </md-input-container>
                    <br />
                    <md-input-container>
                        <input [(ngModel)]="newUser.email" mdInput i18n-placeholder placeholder="E-mail">
                    </md-input-container>
                    <br />
                    <md-input-container>
                        <input [(ngModel)]="newUser.password1" mdInput i18n-placeholder type="password" placeholder="Password">
                    </md-input-container>
                    <br />
                    <md-input-container>
                        <input [(ngModel)]="newUser.password2" mdInput i18n-placeholder type="password" placeholder="Repeat password">
                    </md-input-container>
                    <br />
                    <button md-raised-button (click)="register()" style="margin: 5px" i18n>Register</button>
                    <span *ngIf="httpRegisterStatusMessage" [ngClass]="{'error': httpRegisterStatusError}"
                          [innerHTML]="httpRegisterStatusMessage" class="http-status"></span>
                </div>
            </md-tab>
        </md-tab-group>
    </md-card>
<section>