<section>
    <header i18n>Match overview</header>
    <loader style="margin: auto" *ngIf="isLoading"></loader>
    <alert-box alertType="warning" [message]="warningMessage" disableClose="true" *ngIf="showWarning"></alert-box>
    <game [game]="game" *ngIf="!isLoading" disableButtons="true"></game>

    <header i18n>Tips for this match</header>
    <md-card *ngIf="!isLoading">
        <md-card-title i18n>Your tip</md-card-title>
        <loader style="margin: auto" *ngIf="isLoading3"></loader>
        <alert-box alertType="warning" [message]="warningMessage3" disableClose="true" *ngIf="showWarning3"></alert-box>
        <button md-raised-button (click)="usersBetChange(1)" [class.buttonactive]="usersBet === 1">{{game.teamOne.name}}</button>
        <button md-raised-button (click)="usersBetChange(0)" [class.buttonactive]="usersBet === 0" i18n>Draw</button>
        <button md-raised-button (click)="usersBetChange(2)" [class.buttonactive]="usersBet === 2">{{game.teamTwo.name}}</button>
    </md-card>
    <loader style="margin: auto" *ngIf="isLoading2"></loader>
    <alert-box alertType="warning" [message]="warningMessage2" disableClose="true" *ngIf="showWarning2"></alert-box>
    <alert-box alertType="info" [message]="'No types for this match yet'" disableClose="true"
               *ngIf="!isLoading2 && !bets.length && !isLoading"></alert-box>
    <div class="flex-container">
        <bet *ngFor="let bet of bets" [bet]="bet" class="flex-item"></bet>
    </div>
</section>