<section>
    <header *ngIf="!displayLess">Podgląd tipstera</header>
    <loader style="margin: auto" *ngIf="isLoading"></loader>
    <alert-box alertType="warning" [message]="warningMessage" disableClose="true" *ngIf="showWarning"></alert-box>
    <div class="flex-container" *ngIf="!isLoading">
        <div class="flex-item">
            <img class="img-circle tipster-image"
                 src="https://lh3.googleusercontent.com/-it6WUUKckmo/AAAAAAAAAAI/AAAAAAAAcWg/MOCY6YBg_XY/s640/photo.jpg">
        </div>
        <div class="flex-item">
            <div class="tipster-name" *ngIf="!displayLess">
                {{tipster.name}}
            </div>
            <div class="tipster-login">
                <a [routerLink]="['/tipster', tipster.id]">{{tipster.login}}</a>
            </div>
            <md-list class="tipster-name">
                <md-divider></md-divider>
                <!--<h3 md-subheader>Statystyki</h3>-->
                <md-list-item>
                    <md-icon md-list-icon mdTooltip="Trafność typów w ostanich 3 miesiącach" [mdTooltipPosition]="'above'">timeline</md-icon>
                    <h4 md-line>{{tipster.efficiency}}</h4>
                    <p md-line *ngIf="!displayLess"> trafność typów, 3 miesiące </p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon mdTooltip="Liczba aktualnych typów" [mdTooltipPosition]="'above'">access_time</md-icon>
                    <h4 md-line>{{tipster.count_of_bets}}</h4>
                    <p md-line *ngIf="!displayLess"> aktualnych typów</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon mdTooltip="Liczba sprzedanych subskrybcji" [mdTooltipPosition]="'above'">attach_money</md-icon>
                    <h4 md-line>{{tipster.sold_subscriptions}}</h4>
                    <p md-line *ngIf="!displayLess"> sprzedane subskrybcje</p>
                </md-list-item>
            </md-list>
        </div>
    </div>
</section>