<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
  <system.webServer>
  <defaultDocument enabled="true">
  <files>
  <clear />
  <add value="app.php" />
  </files>
  </defaultDocument>
  <rewrite>
  <rules>
  <clear />
  <rule name="RewriteAssetsToPublic" stopProcessing="true">
  <match url="^(.*)(\.css|\.js|\.jpg|\.png|\.gif)$" />
  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
  </conditions>
  <action type="Rewrite" url="{R:0}" />
  </rule>
  <rule name="RewriteRequestsToPublic" stopProcessing="true">
  <match url="^(.*)$" />
  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
  </conditions>
  <action type="Rewrite" url="app.php/{R:0}" />
  </rule>
  </rules>
  </rewrite>
  </system.webServer>
  </configuration>